body{
    
}

h1{
    color: #00ffff;
    opacity: 1;
}
.jumbotron{
    color: white;
    text-align: center;
    background-image: url("../images/bacteria_image.jpg");
    background-size: cover;
    opacity: 1;
}
.jumbotron::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}


label{
    width: 100px;
}